 {% extends "base.html" %}{% load static %} {% block title %} Agregar contacto {% endblock %} {% block content %}
{% load addcss %}

<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-md-10">
                    <h2>Agenda</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Contactos</a>
                        </li>
                        <li class="active">
                            <strong>Agregar contacto</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <br>

<div class="wrapper wrapper-content animated fadeInRight white-bg">
    <div class="row">
        <div class="col-md-12">


<h2 class="text-center" style="padding-top: 10px; padding-bottom:10px;">Agregar nuevo contacto</h2>

<div class="alert alert-success alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                Llena los datos a continuación para agregar un nuevo contacto.
                            </div>

<form method="post" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Nombre:
                    </label>
                    <div class="col-sm-6">
                    
                        {{form.nombre|addcss:"form-control"}}
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Email 1:
                    </label>
                    <div class="col-sm-6">
                    
                        {{form.email1|addcss:"form-control"}}
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Telefono 1:
                    </label>
                    <div class="col-sm-6">
                    
                        {{form.tel1|addcss:"form-control"}}
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Telefono 2:
                    </label>
                    <div class="col-sm-6">
                    
                        {{form.tel2|addcss:"form-control"}}
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Dirección:
                    </label>
                    <div class="col-sm-6">
                    
                        {{form.direccion|addcss:"form-control"}}

                         <br>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar Contacto</button>

                <a href="{% url 'lista_contactos' %}">
<button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i>
    Regresar
</button></a>
                    </div>
                </div>








</form>

</div>
</div>
</div>

{% endblock %}
