 {% extends "base.html" %}{% load static %} {% block title %} Detalle de carta {% endblock %} {% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-md-10">
                    <h2>Detalles carta</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Cartas</a>
                        </li>
                        <li class="active">
                            <strong>Detalles carta</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <br>

<div class="wrapper wrapper-content animated fadeInRight white-bg">
    <div class="row">
        <div class="col-md-12">



<h2 class="text-center" style="padding-top: 10px; padding-bottom:10px;">Detalles de carta</h2>

	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">

				<dt>Fecha:</dt>
				<dd>{{carta.fecha}}</dd>
				<dt>Archivo:</dt>
				<dd>
				{% if archivos %}
				{% for archivo in archivos %}
				<a href="{{archivo.archivo.url}}">{{archivo.archivo}}</a>
				{% endfor %}
				{% else %}
				------------
				{% endif %}
				</dd>
				<dt>Contenido:</dt>
				<dd class="htmlbox">{% autoescape off %} {{carta.contenido}} {% endautoescape %}</dd>
				<dt>Email:</dt>
				<dd>{{carta.email}}</dd>
				<dt>Tel 1:</dt>
				<dd>{{carta.tel1}}</dd>
				<dt>Tel 2:</dt>
				<dd>{{carta.tel2}}</dd>


			</dl>
<a href="javascript:history.back();">
<button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i>
  Regresar
</button>
</a>

<a href="{% url 'editar_carta' pk=carta.pk %}">
<button class="btn btn-info btn-w-m" type="button">
	<i class="fa fa-pencil"></i>
	Editar
</button>
</a>
			
		</div>
		</div>

</div>
</div>
</div>

{% endblock %}
