 {% extends "base.html" %}{% load static %} {% block title %} Detalle de mensaje de audio {% endblock %} {% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-md-10">
                    <h2>Detalles video</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Video</a>
                        </li>
                        <li class="active">
                            <strong>Detalles video</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <br>

<div class="wrapper wrapper-content animated fadeInRight white-bg">
    <div class="row">
        <div class="col-md-12">






<h2 class="text-center" style="padding-top: 10px; padding-bottom:10px;">Detalles de mensaje de audio</h2>

	<div class="row">
		<div class="col-md-12">
			<dl class="dl-horizontal">

				<dt>Fecha:</dt>
				<dd>{{audio.fecha}}</dd>
                <dt>Descripción:</dt>
                <dd>{{audio.descripcion}}</dd>
				<dt>Archivo:</dt>
				<dd>
                <a href="javascript:window.open('{{ MEDIA_URL }}{{audio.archivo.url}}','Audio','width=600,height=400')">{{audio.archivo}}</a>
                {% if archivos %}
                {% for archivo in archivos %}
                <a href="{{archivo.archivo.url}}">{{archivo.archivo}}</a>
                {% endfor %}
                {% else %}
                ------------
                {% endif %}
                </dd>
				<dt>Email:</dt>
				<dd>{{audio.contacto.email1}}</dd>
				<dt>Tel 1:</dt>
				<dd>{{audio.contacto.tel1}}</dd>
				<dt>Tel 2:</dt>
				<dd>{{audio.contacto.tel2}}</dd>


			</dl>
<a href="javascript:history.back();">
<button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i>
  Regresar
</button>
</a>

<a href="{% url 'editar_audio' pk=audio.pk %}">
<button class="btn btn-info btn-w-m" type="button">
    <i class="fa fa-pencil"></i>
    Editar
</button>
</a>

		</div>
		</div>


</div>
</div>
</div>

{% endblock %}
