 {% extends "base.html" %}{% load static %} {% block title %} Detalle de mensaje de video{% endblock %} {% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Detalles video</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Video</a>
            </li>
            <li class="active">
                <strong>Detalles video</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-2">
    </div>
</div>
<br>
<div class="wrapper wrapper-content animated fadeInRight white-bg">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center" style="padding-top: 10px; padding-bottom:10px;">Detalles de mensaje de video:</h2>
            <div class="row">
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt>Fecha:</dt>
                        <dd>{{video.fecha}}</dd>
                        <dt>Archivo:</dt>
                        <dd>
                         {% if archivos %}
                {% for archivo in archivos %}
                <a href="{{archivo.archivo.url}}">{{archivo.archivo}}</a>
                {% endfor %}
                {% else %}
                ------------
                {% endif %}

                        </dd>
                        <dt>Email:</dt>
                        <dd>{{video.contacto.email1|default:"----"}}</dd>
                        <dt>Tel 1:</dt>
                        <dd>{{video.contacto.tel1|default:"----"}}</dd>
                        <dt>Tel 2:</dt>
                        <dd>{{video.contacto.tel2|default:"----"}}</dd>
                        <dt>Nombre:</dt>
                        <dd>{{video.contacto.nombre|default:"----"}}</dd>
                        <dt>Formato:</dt>
                        <dd>{{video.get_formato_display|default_if_none:"----"}}</dd>
                        <dt>Dirección:</dt>
                        <dd>{{video.contacto.direccion|default:"----"}}</dd>
                    </dl>
                    <a href="javascript:history.back();">
                        <button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i> Regresar
                        </button>
                    </a>
                    <a href="{% url 'editar_video' pk=video.pk %}">
<button class="btn btn-info btn-w-m" type="button">
    <i class="fa fa-pencil"></i>
    Editar
</button>
</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
