 {% extends "base.html" %}{% load static %} {% block title %} Agregar carta {% endblock %} 

{% load staticfiles %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>


 {% block content %}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Agregar carta</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Cartas</a>
            </li>
            <li class="active">
                <strong>Nueva carta</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-2">
    </div>
</div>
<br>
<div class="wrapper wrapper-content animated fadeInRight white-bg">
    <div class="row">
        <div class="col-md-12">
            {% if save == True %}
            <div class="alert alert-success">
                Carta guardado correctamente. <a class="alert-link" href="{% url 'lista_cartas' %}"> Ver cartas</a>.
            </div>
            {% endif %} {% if form.archivo.errors %} {{ form.archivo.errors.as_text }} {% endif %}
            <p></p>
            <form action="{% url 'subir_carta' %}" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
            {{ form.media }}
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Contenido:
                    </label>
                    <div class="col-sm-6">
                    
                        {{form.contenido}}
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Email destinatario:
                    </label>
                    <div class="col-sm-6">
                        <input id="id_email" type="email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Telefono 1 destinatario:
                    </label>
                    <div class="col-sm-6">
                        <input id="id_tel1" type="text" class="form-control" name="tel1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Telefono 2 destinatario:
                    </label>
                    <div class="col-sm-6">
                        <input id="id_tel2" type="text" class="form-control" name="tel2">
                    </div>
                </div>



<div class="form-group">
    <label class="col-sm-2 control-label">
        Archivo:
    </label>
    <div class="col-sm-6">
        <form id='formulario' method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <ul>
            </ul>
            <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Seleccionar Archivos...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input class="fileupload" type="file" name="archivo" id="id_archivo">

             <input type="hidden" name="user" id="id_user" value="{{ request.user.pk }}">
            </span>
            <div id="guardara"></div>
            <p>
                <input type='submit' name="savefile" value='Guardar' class="btn btn-w-m btn-primary" />
            </p>
        </form>
        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div class="files"></div>
        <br>

        <div class="pm_attachments">
          <span>Adjuntos</span>
     

           <table role="presentation" class="table table-striped"><tbody class="files">
             {% for a in files %}
            {% for b in a %}
            {% if b.section == sec %}
            <tr class="template-download fade in">
        <td>
            <p class="name">
                <a href="{{ b.attachment.file.url }}" target="_blank">{{ b.attachment.file.url}}</a>
            </p>
            
        </td>
        <td>
           <form id='deletefile' method='post' enctype='multipart/form-data'>
        {% csrf_token %}
     <input type="hidden" name="fileid" value="{{ b.attachment.id}}" />
            <button class="btn btn-danger delete" data-type="" data-url="" button type="submit" name="deletefile">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Borrar</span>
            </button></form>
        </td>
    </tr>
             {% endif %}
              {% endfor %}
            {% endfor %}
</tbody></table>


        </div>

    </div>
</div>






                <br>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar Carta</button>
                <a href="javascript:history.back();">
                    <button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i> Cancelar
                    </button>
                </a>
            </form>
        </div>
    </div>
</div>

{% block extrascripts %}





<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static "js/vendor/jquery.ui.widget.js" %}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{% static "js/load-image.min.js" %}"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{% static "js/canvas-to-blob.min.js" %}"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static "js/jquery.iframe-transport.js" %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static "js/jquery.fileupload.js" %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static "js/jquery.fileupload-process.js" %}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{% static "js/jquery.fileupload-image.js" %}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{% static "js/jquery.fileupload-audio.js" %}"></script>
<!-- The File Upload video preview plugin -->
<script src="{% static "js/jquery.fileupload-video.js" %}"></script>
<!-- The File Upload validation plugin -->
<script src="{% static "js/jquery.fileupload-validate.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>


<script>

/*jslint unparam: true */
/*global window, $ */
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
 var upload_ids = [];

$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = '/mensaje/subir_carta/';
    var csrftoken = $.cookie('csrftoken');

    $('.fileupload').each(function () {
    $(this).fileupload({
        maxNumberOfFiles: 1,

        url: url,
        crossDomain: false,
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        dataType: 'json',
        done: function (e, data) {
            //console.log('Upload complete');
            $.each(data.result.files, function (index, file) {
                 upload_ids.push(file.id);
                 console.log( file.id);
                 console.log( upload_ids.join(',') );
            $('.id_file_ids').val( upload_ids.join(',') );
            $('<p/>').text(file.name).appendTo('.files');
            $('#guardara').empty();
            $('<div class="help-block alert alert-success"></div>').text('Archivo subido con exito, por favor de click en Guardar, para vincular su archivo al proyecto.').appendTo('#guardara');
            });

        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        },
        dropZone: $(this)
    });
}).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});

</script>

<script>
// Warning before leaving the page (back button, or outgoinglink)
window.onbeforeunload = function() {
   return "Do you really want to leave our brilliant application?";
   //if we return nothing here (just calling return;) then there will be no pop-up question at all
   //return;
};
</script>



{% endblock %}


{% endblock %}
