{% extends "base.html" %} {% block title %} Bienvenido {% endblock %} {% block content %}

{% load static %}
<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>

<script src="{% static 'js/jquery.payment.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
 Conekta.setPublishableKey('key_IdsUeHBSgUqUfCJx');
 $('#cardform').submit(function(event) {
 event.preventDefault();
 var $form = $(this);
$form.find("button").prop("disabled", true);
 Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
 });

 var conektaSuccessResponseHandler;
conektaSuccessResponseHandler = function(token) {
  var $form;
  $form = $("#cardform");
/* Inserta el token_id en la forma para que se envíe al servidor */
  $form.append($("<input type=\"hidden\" name=\"conektaTokenId\" />").val(token.id));
  $form.append($("<input type=\"hidden\" name=\"paymentcard\" />"));
/* and submit */
  $form.get(0).submit();
  console.log('Enviado');
};
var conektaErrorResponseHandler = function(response) {
	  console.log('Tokenerror');
 $('#cardform').find('button').prop('disabled', false);
};
});
</script>

<script>
    jQuery(function($) {
      $('.cc-number').payment('formatCardNumber');
      $('.cc-exp').payment('formatCardExpiry');
      $('.cc-cvc').payment('formatCardCVC');
    });
  </script>
  

<div class="row wrapper border-bottom white-bg page-heading" style="  margin-left: auto; margin-right: auto; width: 80%; padding-top: 30px;">
    <!-- Titulo-->
    <span style="text-align:center;"><h1><b>Orden de Pedido</b></h1></span>
    <br/>
 <h3>Gracias por su pedido, a continuación se detalla su orden de compra</h3>



                            <div class="well m-t">
<p><strong>Paquete contratado:</strong> {{paquete.nombre}}</p>
 <p><strong>Precio Total:</strong> ${{paquete.costo}}</p>

                            </div>


 <p>Puede pagar su membresia a traves de los siguientes metodos disponibles:</p>
        
<div class="well m-t" style="text-align:center;">
<section id="payforms">

<span class="descripcion1">Pagar Ahora, elige tu forma de pago:</span>

<!-- Pago 1-->
	<div class="panel panel-default">
         <div class="panel-heading">
              <h5 class="panel-title">                              
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed" >Tarjeta de Credito</a>
                </h5>
          </div>
   <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
         <div class="panel-body">
                           <div class="col-md-4">
</div>                    
			<div class="col-md-4" style="text-align: center; margin: 0 auto;">

				<i class="fa fa-cc-visa" style="font-size: 25px;
				"></i>
				<i class="fa fa-cc-mastercard" style="font-size: 25px;
				"></i>
				<i class="fa fa-cc-discover" style="font-size: 25px;
				"></i>
				<i class="fa fa-cc-amex" style="font-size: 25px;
				"></i>

				<form method="POST" id="cardform" enctype="multipart/form-data">
				{% csrf_token %}
			  <span class="card-errors"></span>
			  <div class="form-row">
			    <label>
			      <span>Nombre del tarjetahabiente</span>
			      <input type="text" size="20" data-conekta="card[name]" required class="campopago1 form-control">
			    </label>
			  </div>
			  <div class="form-row">
			    <label>
			      <span>Número de tarjeta de crédito</span>
			      <input id="cc-number" type="tel" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required data-conekta="card[number]" class="campopago1 form-control input-lg form-control cc-number">
			    </label>
			  </div>
			  <div class="form-row">
			    <label>
			      CVC <a href="#" data-toggle="tooltip" data-placement="right" title="Numero de 3 digitos localizado al reverso de la tarjeta de credito"><i class="fa fa-question-circle"></i></a>

			      <input id="cc-cvc" type="tel" autocomplete="off" placeholder="•••" required data-conekta="card[cvc]" class="form-control input-lg form-control cc-cvc" style="width: 100px;">
			    </label>
			  </div>
			  <div class="form-row">
			    <label>
			      <span>Expiración (MM/AAAA)</span>

			      <input  type="tel" placeholder="••" required size="2" data-conekta="card[exp_month]" class="inputmy" style="width: 50px; display: inline-flex;">
			    </label>
			    <span>/</span>
			    <input type="tel" placeholder="••••" required size="4" data-conekta="card[exp_year]" class="inputmy" style="width: 60px; display: inline-flex;">
			  </div>
			  <button type="submit" name="paymentcard" class="btn btn-sm btn-primary">Pagar</button>
			  
			</form>
			</div>


				</div>
			          	</div>
			              	</div>



<!-- Pago 3-->
	<div class="panel panel-default">
            <div class="panel-heading">
            	<h5 class="panel-title">
            		<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" class="collapsed" >OXXO</a>
            	</h5>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            	<div class="panel-body">
            		<form method="POST" id="oxxoform" target="_blank" enctype='multipart/form-data'>
            			{% csrf_token %}
            			<button type="submit" name="paymentcash" class="btn btn-sm btn-primary">Pagar</button>
            		</form>
            	</div>
            </div>
        </div>

	</section>
</div>


        </div>

{% endblock %}

 
