/*Login page*/

body#loginpage {
    border-top: 7px solid #01756a;
    background: #009688;
}

.loginpagetitle {
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

.loginpagesubtitle {
    text-align: left;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.loginpagelink {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.loginpagelink:hover {
    color: #363a3c;
    text-decoration: none;
}

.loginpagetext {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.loginpagerafirst {
    font-size: 24px;
    color: #ffffff;
    margin-top: 0px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.loginpagera {
    font-size: 24px;
    color: #ffffff;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}


/* Theme colors */

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-color: #2f4050;*/
    background-color: #1f1f1f;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus {
    background-color: #333;
    color: white;
}

.nav-header {
    padding: 33px 25px;
    background-color: #292929;
    /*background: url("patterns/header-profile.png") no-repeat;*/
}

body.mini-navbar .nav-header {
    padding: 0;
    background-color: #292929;
}

.nav>li.active {
    border-left: 4px solid #f36523;
    background: #333;
}

.btn-primary {
    background-color: #f36526;
    border-color: #f36523;
    color: #FFFFFF;
}

.btn-success {
    background-color: #f36526;
    border-color: #f36523;
    color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #ef8b5f;
    border-color: #f36523;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #ef8b5f;
    border-color: #f36523;
    color: #FFFFFF;
}

a {
    color: #f36526;
}

.label-primary,
.badge-primary {
    background-color: #346ec3;
    color: #FFFFFF;
}

.pace .pace-progress {
    background: #346ec3;
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: 220px;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.toast-success {
    */ background-color: #346ec3;
}

.toast-success {
    */ background-color: #346ec3;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    text-align: center;
}


/* FORM LLENAR */

.insumoformstyle li {
    list-style: none;
}

.insumoformstyle textarea {
    display: block;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.insumoformstyle input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.insumoformstyle select {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}


/* FORM FILTROS */

.formfiltros select {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: inline-block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 150px;
    font-size: 14px;
}

.elementsinline li {
    display: inline-block;
}


/**** LISTAR ****/

.paginationbox {
    text-align: center;
}


/*** BOTONES ****/

.btn-xlg,
.btn-group-xlg>.btn {
    padding: 10px 60px !important;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}


/*** detalle insumo ***/

.insumoimg {
    width: 300px;
}


/***** GENERALES ****/

.helptext {
    display: none;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.img-sm {
    width: 100px;
}

.img-md {
    width: 130px;
}

.img-md1 {
    width: 200px;
}

.img-lg {
    width: 300px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.button280 {
    width: 280px !important;
}

legend {
    padding-bottom: 10px;

}

.form-horizontal label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}


/* DETALLES CARTA*/

.htmlbox {
    border: solid 1px #afafaf;
    padding: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Contacto */

.contactid {
    font-size: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #FF5722;
    line-height: 100px;
}

.contactidstyle {
    color: #ffffff;
}